

.small {
  font-size: 12px;
}
.normal {
  font-size: 16px;
}
.large {
  font-size: 20px;
}
.xxlarge {
  font-size:30px;
}
.xmall {
  font-size: 40px;
}
.smaler {
  font-size: 50px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.purple {
  color: purple;
}